*{
    margin: 0;
}

@font-face {
  font-family: Banger;
  src: url(polices/Bangers-Regular.ttf);
}

@font-face {
  font-family: Permanent;
  src: url(polices/PermanentMarker-Regular.ttf);
}

@font-face {
  font-family: Merri;
  src: url(polices/Merriweather-Regular.ttf);
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #007849;
    padding-bottom: 10px;
    padding-top: 10px;
}

header h1{
  margin-top: 30px;
  color: #FFF;
}

header img{
    height: 100px;
    margin-left: 150px;
}

nav ul{
    display: flex;
    gap: 30px;
    margin-right: 150px;
    margin-top: 27px;
    list-style: none;
}

nav ul a{
    font-size: 40px;
    text-decoration: none;
    color: white;
}

nav ul a:hover{
    color: #FFD700;
    transform: scale(2);
}


.presentation{
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
}

.presentation img{
    width: 100%;
    height: 800px;
    opacity: 0;  
    object-fit: cover;
    transition: opacity 1s ease-in-out;
    top: 0;
    left: 0;
    position: absolute;
}

.presentation img.active {
  opacity: 0.3;
}

.overlay h2{
    font-size: 50px;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F5DEB3; 
    text-align: center;
    background: rgba(0, 120, 73, 0.7); 
    padding: 20px; 
    border-radius: 10px;
}

#Découvrir{
    display: flex;
    background-color: #F5DEB3;
    padding: 100px;
  }
  
  .intro {
    display: flex;
    align-items: center;
    padding: 50px;
    background-color:#FFD700; 
    border-radius: 20px;
    width: 100%;
  }
  
  .text {
    margin-right: 20px;
  }
  
  .text h3 {
    color: #B85834; 
    font-size: 30px;
    margin-bottom: 10px;
  }
  
  .text p {
    color: #917769;
    font-size:20px;
  }
  
  .btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    color: #FFF;
    background-color: #D17D00; 
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #B85D00; 
  }
  
  .text-image img {
    height: 200px;
  }

  footer{
    background-color: #007849;
    display: flex;
    justify-content: space-between;
   padding: 50px;
  }

  footer h3{
    font-size: 30px;
    color: #FFF;
  }

  footer p {
    font-size: 20px ;
    margin-top: 20px;
  }
  
  #culture{
    background-color: #F2E2C4;
  }
    
  
#ethnie{
  margin-bottom: 100px;
  margin-right: 65px;
}

#ethnie h1{
  font-size: 50px;
  margin-top: 30px;
  font-family: Permanent;
  margin-left: 30px;
}

.peuple{
  display: flex;
  gap: 50px;
  background-color: #007849;
  width: 100%;
  padding: 30px;
  margin-top: 20px;
}

.peuple h2{
  font-size: 23px;
  margin-bottom: 10px;
  font-family: Banger;
}

.peuple p{
  font-size: 12px;
  margin-top: 10px;
  font-family: Merri;
}

.peuple img{
  height: 190px;
  width: 90%;
  border-radius: 20px;
}

.bidane{
  background-color: #F5DEB3;
  border-radius: 20px;
  width: 17%;
  padding: 25px;
}

.peul{
  background-color: #F5DEB3;
  border-radius: 20px;
  width: 17%;
  padding: 25px;
}

.soninke{
  background-color: #F5DEB3;
  border-radius: 20px;
  width: 17%;
  padding: 25px;
}

.haratine{
  background-color: #F5DEB3;
  border-radius: 20px;
  width: 17%;
  padding: 25px;
}

.bidane:hover{
  background-color: #917769;
  transform: scale(1.1);
  transition-duration: 1s;
}

.soninke:hover{
  background-color: #917769;
  transform: scale(1.1);
  transition-duration: 1s;
}

.peul:hover{
  background-color: #917769;
  transform: scale(1.1);
  transition-duration: 1s;
}

.haratine:hover{
  background-color: #917769;
  transform: scale(1.1);
  transition-duration: 1s;
}

@media (max-width: 768px){
 
  header img{
    height: 60px;
    margin-left: 10px;
  }

  header h1{
  display: none;
  }

  .nav-links ul{
    margin-top: 20px;
    margin-left: 20px;
  }

  .nav-links ul a{
    font-size: 25px;
  }

  .overlay{
    top: 40%;
  }

  .overlay h2{
    font-size: 20px;
  }

  .text p{
    font-size: 15px;
  }

  .text h3{
    font-size: 20px;
  }

  .intro{
    padding: 20px;
  }

  footer h3{
    font-size: 25px;
  }

  footer p{
    font-size: 15px;
  }

  .peuple{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #007849;
    width: 100%;
    padding: 30px;
    margin-top: 20px;
  }

#ethnie h1{
  font-size: 30px;
}

.peuple img{
  height: 200px;

}

.peuple h2{
  font-size: 20px;
}

.peuple p{
  font-size: 10px;
}

.bidane{
  background-color: #F5DEB3;
  border-radius: 20px;
  width: 40%;
  padding: 25px;
}

.peul{
  background-color: #F5DEB3;
  border-radius: 20px;
  width: 40%;
  padding: 25px;
}

.soninke{
  background-color: #F5DEB3;
  border-radius: 20px;
  width: 40%;
  padding: 25px;
}

.haratine{
  background-color: #F5DEB3;
  border-radius: 40px;
  width: 40%;
  padding: 25px;
}
}

@media (min-width: 769px) and (max-width: 992px){
  header img{
    height: 80px;
    margin-left: 20px;
  }

  header h1{
  font-size: 20px;
  }

  .nav-links ul{
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 20px;
  }

  .nav-links ul a{
    font-size: 30px;
  }

  .overlay{
    top: 30%;
  }

  .overlay h2{
    font-size: 30px;
  }

  .text p{
    font-size: 15px;
  }

  .text h3{
    font-size: 20px;
  }

  .intro{
    padding: 20px;
  }

  footer h3{
    font-size: 25px;
  }

  footer p{
    font-size: 15px;
  }

  .peuple{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #007849;
    width: 100%;
    padding: 30px;
    margin-top: 20px;
  }

#ethnie h1{
  font-size: 30px;
}

.peuple img{
  height: 200px;

}

.peuple h2{
  font-size: 20px;
}

.peuple p{
  font-size: 10px;
}

.bidane{
  background-color: #F5DEB3;
  border-radius: 20px;
  width: 40%;
  padding: 25px;
}

.peul{
  background-color: #F5DEB3;
  border-radius: 20px;
  width: 40%;
  padding: 25px;
}

.soninke{
  background-color: #F5DEB3;
  border-radius: 20px;
  width: 40%;
  padding: 25px;
}

.haratine{
  background-color: #F5DEB3;
  border-radius: 40px;
  width: 40%;
  padding: 25px;
}
}
